html, body {
    /*background-color: #5ddfff;*/
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
}

.navbar{
    background-color: #cce4ff !important;
    height: 60px;
}

.nav-link{
    /*color: #5b4443!important;*/
}

.hiderButtons{
    margin: auto;
}

.cardImages{
    text-align: center;
    padding: 10px;
}

.footer{
    background-color: #adb5bd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: 0;
}

.containerLogo{
    text-align: right;
    margin-top: 16px;
}

.containerRef{
    margin-top: 8px;
    text-align: center;
}

